@model List<Employee_details_webapp.Models.CombinedViewModel>
@{
}
<h1> Employees</h1>

<table class="table">
	<thead>
		<tr>
			<th>Code</th>
			<th>Full Name</th>
			<th>Email</th>
			<th>Address</th>
			<th>Salary</th>
			<th>Position</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var Employees in Model)
		{
				<tr>
				<td>@Employees.EmployeeCode</td>
				<td>@Employees.FirstName @Employees.MiddleName @Employees.LastName</td>
				<td>@Employees.Email</td>
				<td>@Employees.Address</td>
				<td>@Employees.Salary</td>
				<td>@Employees.PositionName</td>
				<td>@Employees.StartDate</td>
				<td>@Employees.EndDate</td>
				</tr>
		}
	</tbody>
</table>
